<div
							className="me-xl-4 d-flex  bg-cover bg-center"
							style={{ backgroundImage: "url(img/hero1.png)" }}
						>
							{/* <div className="video-play-btn" onClick={() => setOpen(true)}>
								<BsFillPlayFill />
							</div> */}
							<div className="arrow-icon">
								<img src="img/icons/video-arrow.svg" alt="" />
							</div>
							{/* 
							<ModalVideo
								channel="youtube"
								autoplay
								isOpen={isOpen}
								videoId="E1xkXZs0cAQ"
								onClose={() => setOpen(false)}
							/> */}
						</div>